@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FusionFont';
  src: url('/fonts/Fussion.ttf') format('truetype');
  font-weight: bolder;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('/fonts/clashdisplay.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: #000000;
  font-family: ClashDisplay;
}

h1 {
  font-family: FusionFont;
}

h2,
h3 {
  font-family: ClashDisplay;
  font-weight: bold;
}
.clip-diagonal {
  clip-path: polygon(10% 0%, 100% 0%, 100% 90%, 90% 100%, 0% 100%, 0% 10%);
}
