@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@font-face {
  font-family: 'FusionFont';
  src: url('/fonts/fusion.ttf') format('truetype');
  font-weight: bolder;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('/fonts/clashdisplay.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: ClashDisplay;
}

h1,
h2,
h3,
h4 {
  font-family: FusionFont;
}
